<div class="panel-body">
  <%= simple_form_for(@comment) do |f| %>
    <%= f.error_notification %>
    <%= f.input :commentable_id, label: false,
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control', type: 'hidden' } %>
    <%= f.input :commentable_type, label: false,
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control', type: 'hidden' } %>
    <%= f.input :active_date, 
      wrapper_html: { class: 'form-inline' },
      input_html: { class: 'form-control' } %>
    <br />
    <%= f.input :organization_id, 
      collection: Organization.organization_names, 
      label: 'Information Source',
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control' } %>
    <%= f.input :comment,
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control' } %>
    <%= f.button :submit,
      label: "Create Comment",
      class: 'btn btn-success' %>
  <% end %>
</div>