<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Index of Comments</h4>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>User</th>
          <th>Commentable</th>
          <th>Commentable type</th>
          <th>Comment</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @comments.each do |comment| %>
          <tr>
            <td><%= comment.user_id %></td>
            <td><%= comment.commentable_id %></td>
            <td><%= comment.commentable_type %></td>
            <td><%= comment.comment %></td>
            <td><%= link_to 'Show', 
              comment, 
              html_options = {class: 'btn btn-primary active'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>