<div class="panel-body">
  <%= simple_form_for(@name) do |f| %>
    <%= f.error_notification %>
    <%= f.input :nameable_id,
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control' } %>
    <%= f.input :nameable_type,
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control' } %>
    <%= f.input :name,
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control' } %>
    <%= f.button :submit,
      label: "Create Name",
      class: 'btn btn-success' %>
  <% end %>
</div>