<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Index of Names</h4>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>User</th>
          <th>Nameable ID</th>
          <th>Nameable Type</th>
          <th>Name</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @names.each do |name| %>
          <tr>
            <td><%= name.user_id %></td>
            <td><%= name.nameable_id %></td>
            <td><%= name.nameable_type %></td>
            <td><%= name.name %></td>
            <td><%= time_ago_in_words(name.updated_at) + " ago" %></td>
            <td><%= link_to 'Show', 
              name, 
              html_options = {class: 'btn btn-primary active'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>