<%= simple_form_for(@project_detail_numerical) do |f| %>
  <%= f.error_notification %>

  <%= f.input :project_id, label: false, 
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control', type: 'hidden' } %>
  <%= f.input :project_category_id, label: false, 
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control', type: 'hidden' } %>
  <div class="form-group">
    <label>Source of Project:</label>
    <p class="form-control-static">
      <%= ProcessingUnit.find(Project.find(@project_detail_numerical.project_id).projectable_id).latest_historical_name(Time.now) %>
    </p>
  </div>
  <div class="form-group">
    <label>New Project Detail:</label>
    <p class="form-control-static">
      <%= ProjectCategory.find(@project_detail_numerical.project_category_id).description %>
    </p>
  </div>
  <%= f.input :value, label: "Value", 
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control' } %>
  <% if @project_detail_numerical.units_of_measure_id.nil? %>
    <%= f.input :units_of_measure_description, label: "Units of Measure", collection: UnitsOfMeasure.currency_unit_list,
        wrapper_html: { class: 'form-group' },
        input_html: { class: 'form-control' } %>
  <% else %>
    <%= f.input :units_of_measure_description, label: "Units of Measure", collection: UnitsOfMeasure.currency_unit_list, selected: UnitsOfMeasure.find(@project_detail_numerical.units_of_measure_id).description,
        wrapper_html: { class: 'form-group' },
        input_html: { class: 'form-control' } %>
  <% end %>

  <%= f.button :submit,
    value: "Create / Update Project Detail",
    class: 'btn btn-success' %>

<% end %>
