<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Project Detail - <%= ProjectCategory.find(@project_detail_numerical.project_category_id).description %></h4>
    </div>
    <div class="panel-body">
      <div class="form">
        <div class="form-group">
          <label>Source of Project:</label>
          <p class="form-control-static">
            <%= ProcessingUnit.find(Project.find(@project_detail_numerical.project_id).projectable_id).latest_historical_name(Time.now) %>
          </p>
        </div>
        <div class="form-group">
          <label>Project Detail:</label>
          <p class="form-control-static">
            <%= ProjectCategory.find(@project_detail_numerical.project_category_id).description %>
          </p>
        </div>
        <div class="form-group">
          <label>Value:</label>
          <p class="form-control-static">
            <%= @project_detail_numerical.value %>
          </p>
        </div>
        <div class="form-group">
          <label>Units of Measure:</label>
          <p class="form-control-static">
            <%= UnitsOfMeasure.find(@project_detail_numerical.units_of_measure_id).description %>
          </p>
        </div>
        <div class="form-group">
          <label>Last Updated By:</label>
          <p class="form-control-static">
            <%= User.find(@project_detail_numerical.user_id).full_name %>
          </p>
        </div>
        <div class="form-group">
          <label>Last Updated:</label>
          <p class="form-control-static">
            <%= time_ago_in_words(@project_detail_numerical.updated_at) + " ago" %>
          </p>
        </div>
      </div>
      <div class="btn-toolbar">
        <div class="btn-group">
          <%= button_to 'Edit', edit_project_detail_numerical_path(@project_detail_numerical),
            class: 'btn btn-warning active',
            method: :get %>
        </div> 
        <div class="btn-group">
          <%= button_to 'Back', project_detail_numericals_path,
            class: 'btn btn-primary active',
            method: :get %>
        </div>
        <div class="btn-group">    
          <%= button_to 'Destroy', @project_detail_numerical,
            method: :delete,
            class: 'btn btn-danger active',
            data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </div>
</div>