<%= simple_form_for(@project_category) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :category_type, collection: ["Numerical", "String"], label: 'Cateory Type',
        wrapper_html: { class: 'form-group' },
        input_html: { class: 'form-control' } %>
    <%= f.input :description, label: 'Category Description', placeholder: 'Input Category Description Here',
        wrapper_html: { class: 'form-group' },
        input_html: { class: 'form-control' } %>
  </div>

  <%= f.button :submit,
    value: "Create / Update Project Category",
    class: 'btn btn-success' %>

<% end %>
