<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Project Category List</h4>
    </div>
    <div class="panel-body">
      <a href="/project_categories/new" class="btn btn-success active" role="button">Create New Project Category</a>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Project Category</th>
            <th>Category Type</th>
            <th>Last Updated By</th>
            <th>Last Updated</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @project_categories.root_category_ids.each do |project_category_id| %>
            <tr>
              <td><%= ProjectCategory.find(project_category_id).description %></td>
              <td><%= ProjectCategory.find(project_category_id).category_type %></td>
              <td><%= User.find(ProjectCategory.find(project_category_id).user_id).full_name %></td>
              <td><%= time_ago_in_words(ProjectCategory.find(project_category_id).updated_at) %> ago</td>
              <td><%= link_to 'Show', 
                ProjectCategory.find(project_category_id), 
                html_options = {class: 'btn btn-primary active'} %></td>
            </tr>
          <% end %>
        </tbody>
      </table>    
    </div>
  </div>
</div>