<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Location Granularity</h4>
    </div>
    <div class="panel-body">
      <div class="form">
        <div class="form-group">
          <label>Location Granularity:</label>
          <p class="form-control-static">
            <%= @location_granularity.description %>
          </p>
        </div>
        <div class="form-group">
          <label>Last Updated By:</label>
          <p class="form-control-static">
            <%= User.find(@location_granularity.user_id).full_name %>
          </p>
        </div>
        <div class="form-group">
          <label>Last Updated:</label>
          <p class="form-control-static">
            <%= time_ago_in_words(@location_granularity.updated_at) + " ago" %>
          </p>
        </div>
      </div>
      <div class="btn-toolbar">
        <div class="btn-group">
          <%= button_to 'Edit', edit_location_granularity_path(@location_granularity),
            class: 'btn btn-warning active',
            method: :get %>
        </div> 
        <div class="btn-group">
          <%= button_to 'Back', location_granularities_path,
            class: 'btn btn-primary active',
            method: :get %>
        </div>
        <div class="btn-group">    
          <%= button_to 'Destroy', @location_granularity,
            method: :delete,
            class: 'btn btn-danger active',
            data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    </div>
  </div>
</div>