<h1>Listing identifiers</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Identifier type</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @identifiers.each do |identifier| %>
      <tr>
        <td><%= identifier.user_id %></td>
        <td><%= identifier.identifier_type_id %></td>
        <td><%= identifier.value %></td>
        <td><%= link_to 'Show', identifier %></td>
        <td><%= link_to 'Edit', edit_identifier_path(identifier) %></td>
        <td><%= link_to 'Destroy', identifier, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Identifier', new_identifier_path %>
