<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Index of Unit Types</h4>
  </div>
  <div class="panel-body">
    <a href="/unit_types/new" class="btn btn-success active" role="button">Create New Unit Type</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Unit Type</th>
          <th>Parent</th>
          <th>Last Updated By</th>
          <th>Last Updated On</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @unit_types.each do |unit_type| %>
          <% if @unit_types.root_unit_type_ids.include? unit_type.id %>
            <tr>
              <td><%= unit_type.description %></td>
              <td>
                <% if unit_type.parent_id.nil? %>
                  Root Unit Type
                <% else %>
                  <%= UnitType.find(unit_type.parent_id).description %>
                <% end %>
              </td>
              <td><%= User.find(unit_type.user_id).full_name %></td>
              <td><%= unit_type.created_at.strftime("%m/%d/%Y %I:%M %p") %></td>
              <td><%= link_to 'Show', unit_type, html_options = {class: 'btn btn-primary active'} %></td>
              <td><%= link_to 'Edit', edit_unit_type_path(unit_type), 
                html_options = {class: 'btn btn-warning active'} %></td>
              <td><%= button_to 'Destroy', unit_type,
                  method: :delete,
                  class: 'btn btn-danger active',
                  data: { confirm: 'Are you sure?  This will also delete any names, comments, and role assignments that go along with this unit type.' } %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>    
  </div>
</div>