<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4>Unit Types</h4>
    </div>
    <div class="panel-body">
      <div class="form">
        <div class="form-group">
          <label>Unit Type:</label>
          <p class="form-control-static">
            <%= @unit_type.description %>
          </p>
        </div>
        <div class="form-group">
          <label>Last Updated By:</label>
          <p class="form-control-static">
            <%= User.find(@unit_type.user_id).full_name %>
          </p>
        </div>
        <div class="form-group">
          <label>Last Updated:</label>
          <p class="form-control-static">
            <%= time_ago_in_words(@unit_type.updated_at) + " ago" %>
          </p>
        </div>
      </div>
      <div class="btn-toolbar">
        <div class="btn-group">
          <%= button_to 'Edit', edit_unit_type_path(@unit_type),
            class: 'btn btn-warning active',
            method: :get %>
        </div> 
        <div class="btn-group">
          <%= button_to 'Back', unit_types_path,
            class: 'btn btn-primary active',
            method: :get %>
        </div>
        <div class="btn-group">    
          <%= button_to 'Destroy', @unit_type,
            method: :delete,
            class: 'btn btn-danger active',
            data: { confirm: 'Are you sure?  This will also delete any names, comments, and role assignments that go along with this organization.' } %>
        </div>
      </div>
    </div>
  </div>
</div>