<div class="panel-body">
  <%= simple_form_for(@throughput) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :user_id, label: false,
        wrapper_html: { class: 'form-group' },
        input_html: { class: 'form-control', type: 'hidden' } %>
      <% if @throughput.processing_unit_id.nil? %>
        <%= f.input :unit_description, collection: ProcessingUnit.processing_unit_list(Time.now).sort, 
          label: 'Processing Unit',
          wrapper_html: { class: 'form-group' },
          input_html: { class: 'form-control' } %>
      <% else %>
        <%= f.input :unit_description,  
          label: 'Processing Unit',
          wrapper_html: { class: 'form-group' },
          input_html: { class: 'form-control', value: ProcessingUnit.find(@throughput.processing_unit_id).latest_historical_name(Time.now) } %>
      <% end %>
      <% if @throughput.metric_id.nil? %>
        <%= f.input :metric_description, collection: ThroughputMetric.throughput_metric_list.sort,
          wrapper_html: { class: 'form-group' },
          input_html: { class: 'form-control' } %>
      <% else %>
        <%= f.input :metric_description,
          wrapper_html: { class: 'form-group' },
          input_html: { class: 'form-control', value: ThroughputMetric.find(@throughput.metric_id).description } %>
      <% end %>
      <%= f.input :value, label: 'Value',
        wrapper_html: { class: 'form-group' },
        input_html: { class: 'form-control' } %>
      <%= f.input :amount_unit_description, collection: UnitsOfMeasure.amount_unit_list.sort, 
        selected: UnitsOfMeasure.where("description LIKE ?", "Thousand Metric Tons").first.description, label: 'Units of Mass / Volume',
        wrapper_html: { class: 'form-group' },
        input_html: { class: 'form-control' } %>
      <%= f.input :time_unit_description, collection: UnitsOfMeasure.time_unit_list.sort, 
        selected: UnitsOfMeasure.where("description LIKE ?", "Year").first.description, label: 'Units of Time',
        wrapper_html: { class: 'form-group' },
        input_html: { class: 'form-control' } %>
      <%= f.input :commodity_description, collection: Commodity.commodity_list.sort, label: 'Commodity',
        wrapper_html: { class: 'form-group' },
        input_html: { class: 'form-control' } %>
      <%= f.input :active_date, as: :date, start_year: 2000, end_year: Date.today.year + 10,
        wrapper_html: { class: 'form-group' },
        input_html: { class: 'form-control' }%>
      <%= f.button :submit,
        value: "Create New Throughput",
        class: 'btn btn-success active' %>
    </div>

  <% end %>
</div>






