<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Index of Processing Unit Throughputs</h4>
  </div>
  <div class="panel-body">
    <a href="/throughputs/new" class="btn btn-success active" role="button">Create New Throughput</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Unit Name</th>
          <th>Metric</th>
          <th>Commodity</th>          
          <th>Amount</th>
          <th>Time</th>
          <th>Value</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @throughputs.each do |throughput| %>
          <tr>
            <td><%= ProcessingUnit.find(throughput.processing_unit_id).latest_historical_name(Time.now) %></td>
            <td><%= ThroughputMetric.find(throughput.metric_id).description %></td>
            <td><%= Commodity.find(throughput.commodity_id).description %></td>
            <td><%= UnitsOfMeasure.find(throughput.amount_unit_id).description %></td>
            <td><%= UnitsOfMeasure.find(throughput.time_unit_id).description %></td>
            <td><%= throughput.value %></td>
            <td><%= link_to 'Show', 
              throughput, 
              html_options = {class: 'btn btn-primary active'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
</div>