<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Index of Canonical Measurement Types</h4>
  </div>
  <div class="panel-body">
    <a href="/measure_types/new" class="btn btn-success active" role="button">Create New Measurement Type</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Canonical Measurement Type</th>
          <th>Last Updated By</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @measure_types.each do |measure_type| %>
          <tr>
            <td><%= measure_type.description %></td>
            <td><%= User.find(measure_type.user_id).full_name %></td>
            <td><%= time_ago_in_words(measure_type.updated_at) + " ago" %></td>
            <td><%= link_to 'Edit', 
              edit_measure_type_path(measure_type), 
              html_options = {class: 'btn btn-warning active'} %></td>
            <td><%= link_to 'Destroy', 
              measure_type, method: :delete, class: 'btn btn-danger active',
              data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
</div>