<div class="panel-body">
  <%= simple_form_for(@processing_unit) do |f| %>
    <%= f.error_notification %>
    <%= f.input :initial_name, 
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control' } %>
    <%= f.input :organization_id, collection: Organization.organization_names, 
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control' } %>
    <%= f.input :latitude, 
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control' } %>
    <%= f.input :longitude,
      wrapper_html: { class: 'form-group' },
      input_html: { class: 'form-control' } %>
    <%= f.button :submit,
      label: "Create Processing Unit",
      class: 'btn btn-success' %>
  <% end %>
</div>