<div class="panel panel-default">
  <div class="panel-heading">
    <div class="form-inline pull-right">
      <%= form_tag('/processing_units', method: :get) do %>
          <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search by Unit Name' %>
          <%= submit_tag "Search", class: 'btn btn-primary', :name => nil %>
      <% end %>
    </div>
    <h4>Index of Processing Units</h4>
<!--     <div class="form-inline pull-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </div> -->
  </div>
  <div class="panel-body">
    <a href="/processing_units/new" class="btn btn-success active" role="button">Create New Processing Unit</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Unit Name</th>
          <th>Unit Operator</th>
          <th>Location</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @processing_units.each do |processing_unit| %>
          <tr>
            <td>
              <%= processing_unit.latest_historical_name(Time.now) %>
            </td>
            <td>
              <p class="form-control-static">
                <% if RoleAssignment.where("subject_id = ? AND subject_type = ?", processing_unit.id, "ProcessingUnit").first != nil %>
                <%= Organization.find(RoleAssignment.where("subject_id = ? AND subject_type = ?", processing_unit.id, "ProcessingUnit").first.holder_id).latest_historical_name(Time.now) %>
              <% end %>
              </p>
            </td>
            <td><%= processing_unit.full_location %></td>
            <td><%= link_to 'Show', 
              processing_unit, 
              html_options = {class: 'btn btn-primary active'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
</div>