<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Index of Processing Units</h4>
<!--     <div class="form-inline pull-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </div> -->
<!--     <div class="form-inline pull-right">
      <%= form_tag('/processing_units', method: :get) do %>
        <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search", :name => nil %>
        </p>
      <% end %>
    </div> -->
  </div>
  <div class="panel-body">
    <a href="/processing_units/new" class="btn btn-success active" role="button">Create New Processing Unit</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Unit Name</th>
          <th>Unit Operator</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @processing_units.each do |processing_unit| %>
          <tr>
            <td>
              <%= processing_unit.latest_historical_name(Time.now) %>
            </td>
            <td></td>
            <td><%= processing_unit.latitude %></td>
            <td><%= processing_unit.longitude %></td>
            <td><%= link_to 'Show', 
              processing_unit, 
              html_options = {class: 'btn btn-primary active'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>    
  </div>
</div>