<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
        <%= @processing_unit.latest_historical_name(Time.now) %>
    </h4>
  </div>
  <div class="panel-body">
    <div class="form">
      <div class="form-group">
        <label>Operator:</label>
        <p class="form-control-static">
          <% if RoleAssignment.where("subject_id = ? AND subject_type = ?", @processing_unit.id, "ProcessingUnit").first != nil %>
          <%= Organization.find(RoleAssignment.where("subject_id = ? AND subject_type = ?", @processing_unit.id, "ProcessingUnit").first.holder_id).latest_historical_name(Time.now) %>
        <% end %>
        </p>
      </div>
      <div class="form-group">
        <label>Unit Type:</label>
          <p class="form-control-static">
            <%= UnitType.find(@processing_unit.unit_type_id).description %>
          </p>
      </div>
      <div class="form-group">
        <label>Location:</label>
          <p class="form-control-static">
            <%= @processing_unit.full_location %>
          </p>
      </div>
      <div class="form-group">
        <label>Last Updated By:</label>
        <p class="form-control-static">
          <%= User.find(@processing_unit.user_id).full_name %>
        </p>
      </div>
      <div class="form-group">
        <label>Last Updated:</label>
        <p class="form-control-static">
          <%= time_ago_in_words(@processing_unit.updated_at) + " ago" %>
        </p>
      </div>
    </div>
    <div class="btn-toolbar">
      <div class="btn-group">
        <%= button_to 'Edit', edit_processing_unit_path(@processing_unit),
          class: 'btn btn-warning active',
          method: :get %>
      </div> 
      <div class="btn-group">
        <%= button_to 'Back', processing_units_path,
          class: 'btn btn-primary active',
          method: :get %>
      </div>
      <div class="btn-group">    
        <%= button_to 'Destroy', @processing_unit,
          method: :delete,
          class: 'btn btn-danger active',
          data: { confirm: 'Are you sure?  This will also delete all names, comments, throughputs, and role assignments that go along with this processing unit.' } %>
      </div>
    </div>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>History of Nameplate Capacity</h4>
  </div>
  <div class="panel-body">
    <div class="btn-toolbar">
      <div class="btn-group">
        <%= link_to 'Create New Period of Nameplate Capacity', new_throughput_path(:processing_unit_id => @processing_unit.id,:metric_id => ThroughputMetric.where('description=?',"Nameplate Capacity").first.id),
          class: 'btn btn-success active' %>
      </div> 
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Commodity</th>
          <th>Value</th>
          <th>Amount</th>
          <th>Time</th>
          <th>Valid As Of</th>
          <th>User</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @processing_unit.throughputs.each do |throughput| %>
          <tr>
            <td><%= Commodity.find(throughput.commodity_id).description %></td>
            <td><%= throughput.value %></td>
            <td><%= UnitsOfMeasure.find(throughput.amount_unit_id).description %></td>
            <td><%= UnitsOfMeasure.find(throughput.time_unit_id).description %></td>
            <td><%= throughput.active_date.strftime("%m/%d/%Y") %></td>
            <td><%= User.find(throughput.user_id).full_name %></td>
            <td><%= time_ago_in_words(throughput.updated_at) %> ago</td>
            <td><%= link_to 'Show', 
              throughput, 
              html_options = {class: 'btn btn-primary active'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<!-- This section will detail the project information around a given processing unit. -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Project History</h4>
  </div>
  <div class="panel-body">
    <div class="btn-toolbar">
      <div class="btn-group">
        <%= link_to 'Create New Project', new_project_path(:projectable_type => "ProcessingUnit", :projectable_id => @processing_unit.id),
          class: 'btn btn-success active' %>
      </div> 
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Project Type</th>
          <th>Project Status</th>
          <th>Investment Probability</th>
          <th>User</th>
          <th>Last Updated</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @processing_unit.projects.each do |project| %>
          <tr>
            <td><%= ProjectDetailString.where("project_id = ? AND project_category_id = ?", project.id, ProjectCategory.where("description = ?", "Project Type").first.id).last.value %></td>
            <td><%= ProjectDetailString.where("project_id = ? AND project_category_id = ?", project.id, ProjectCategory.where("description = ?", "Project Status").first.id).last.value %></td>
            <td><%= ProjectDetailString.where("project_id = ? AND project_category_id = ?", project.id, ProjectCategory.where("description = ?", "Investment Probability").first.id).last.value %></td>
            <td><%= User.find(project.user_id).full_name %></td>
            <td><%= time_ago_in_words(project.updated_at) %></td>
            <td><%= link_to 'Show', 
              project, 
              html_options = {class: 'btn btn-primary active'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Comments</h4>
  </div>
  <div class="panel-body">
    <div class="btn-toolbar">
      <div class="btn-group">
        <%= link_to 'Create New Comment', new_comment_path(:commentable_type => "ProcessingUnit",:commentable_id => @processing_unit.id),
          class: 'btn btn-success active' %>
      </div> 
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>User Name</th>
          <th>Comment Date</th>
          <th>Comment</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @processing_unit.comments.each do |comment| %>
          <tr>
            <td><%= User.find(comment.user_id).full_name %></td>
            <td><%= comment.active_date %></td>
            <td><%= comment.comment %></td>
            <td><%= link_to 'Show', 
              comment, 
              html_options = {class: 'btn btn-primary active'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
</div>