<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @commodity.user_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @commodity.description %>
</p>

<%= link_to 'Edit', edit_commodity_path(@commodity) %> |
<%= link_to 'Back', commodities_path %>
