<!DOCTYPE html>
<html>

<head> 
  <title>Chains</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<nav class="navbar navbar-default navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Chains</a>
      </div>

<!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/processing_units">Processing Units</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li role="presentation" class="dropdown-header">User-Editable Tables</li>
              <li><a href="/organizations">Organizations</a></li>
              <li><a href="/unit_types">Processing Unit Types</a></li>
              <li><a href="/throughputs">Processing Unit Throughputs</a></li>
              <li class="divider"></li>
              <li role="presentation" class="dropdown-header">Admin-Editable Tables</li>
              <li><a href="/commodities">Commodities</a></li>
              <li><a href="/comments">Comments</a></li>
              <li><a href="/names">Names</a></li>
              <li><a href="/roles">Roles</a></li>
              <li><a href="/role_assignments">Role Assignments</a></li>
              <li class="divider"></li>
              <li role="presentation" class="dropdown-header">Canonical Tables</li>
              <li><a href="/units_of_measures">Units of Measurement</a></li>
              <li><a href="/measure_types">Canonical Measurements</a></li>
              <li><a href="/throughput_metrics">Types of Throughput</a></li>
              <li><a href="/location_granularities">Location Granularities</a></li>
              <li class="divider"></li>
              <li role="presentation" class="dropdown-header">Project Tables</li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/project_detail_numericals">Numerical Project Attributes</a></li>
              <li><a href="/project_detail_strings">String Project Attributes</a></li>
              <li><a href="/project_categories">Project Categories</a></li>
            </ul>
          </li>
        </ul>
				<ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? %>
            <li><%= link_to current_user.full_name, edit_user_registration_path %></li>
          <% end %>
			    <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
            	<% if user_signed_in? %>
            		<li><%= link_to "Account Information", edit_user_registration_path %></li>
            		<li class="divider"></li>
            		<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
            	<% else %>
            		<li><%= link_to "Sign In", new_user_session_path %></li>
            		<li><%= link_to "Sign Up", new_user_registration_path %></li>
            	<% end %>      
            </ul>
          </li>
        </ul>
      </div>

		</div>
	</nav>
  <div class="container">
    <% flash.each do |type, message| %>
      <div class="alert <%= flash_class type %>">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <%= message %>
      </div>
    <% end %>
  </div>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
