<!DOCTYPE html>
<html>

<head> 
  <title>Chains</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<div class="container">
					<a class="navbar-brand" href="#">Chains</a>
					<ul class="nav navbar-nav navbar-right">
				      <li class="dropdown">
				        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                  	<% if user_signed_in? %>
                  		<li><%= link_to "Account Information", edit_user_registration_path %></li>
                  		<li class="divider"></li>
                  		<li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
                  	<% else %>
                  		<li><%= link_to "Sign In", new_user_session_path %></li>
                  		<li><%= link_to "Sign Up", new_user_registration_path %></li>
                  	<% end %>      
                  </ul>
              </li>
          </ul>
				</div>
			</div>
		</div>
	</nav>

<p><class="notice"><%= notice %></p>
<p><class="alert"><%= alert %></p>

<div class="container">
	<%= yield %>
</div>

</body>
</html>
