<h1>Listing project_detail_strings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Project</th>
      <th>Project category</th>
      <th>Value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @project_detail_strings.each do |project_detail_string| %>
      <tr>
        <td><%= project_detail_string.user_id %></td>
        <td><%= project_detail_string.project_id %></td>
        <td><%= project_detail_string.project_category_id %></td>
        <td><%= project_detail_string.value %></td>
        <td><%= link_to 'Show', project_detail_string %></td>
        <td><%= link_to 'Edit', edit_project_detail_string_path(project_detail_string) %></td>
        <td><%= link_to 'Destroy', project_detail_string, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project detail string', new_project_detail_string_path %>
