<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @project_detail_string.user_id %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project_detail_string.project_id %>
</p>

<p>
  <strong>Project category:</strong>
  <%= @project_detail_string.project_category_id %>
</p>

<p>
  <strong>Value:</strong>
  <%= @project_detail_string.value %>
</p>

<%= link_to 'Edit', edit_project_detail_string_path(@project_detail_string) %> |
<%= link_to 'Back', project_detail_strings_path %>
