<div class="panel panel-default">
  <div class="panel-heading">
    <h4>Index of Role Assignments</h4>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>User ID</th>
          <th>Holder ID</th>
          <th>Holder Type</th>
          <th>Subject ID</th>
          <th>Subject Type</th>
          <th>Active Date</th>
          <th>Share</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @role_assignments.each do |role_assignment| %>
          <tr>
            <td><%= role_assignment.user_id %></td>
            <td><%= role_assignment.holder_id %></td>
            <td><%= role_assignment.holder_type %></td>
            <td><%= role_assignment.subject_id %></td>
            <td><%= role_assignment.subject_type %></td>
            <td><%= role_assignment.active_date %></td>
            <td><%= role_assignment.share %></td>
            <td><%= link_to 'Show', 
              role_assignment, 
              html_options = {class: 'btn btn-primary active'} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
